<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qr">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ocr">
      <ion-icon aria-hidden="true" name="id-card-outline"></ion-icon>
      <ion-label>OCR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pdf417">
      <ion-icon aria-hidden="true" name="document-outline"></ion-icon>
      <ion-label>PDF417</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bar">
      <ion-icon aria-hidden="true" name="barcode-outline"></ion-icon>
      <ion-label>Barcode</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon aria-hidden="true" name="cloud-download-outline"></ion-icon>
      <ion-label>Reporte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>