<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            QR
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <div class="swiper-container" #swiperContainer>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <ion-button expand="full" fill="outline" (click)="scanBarcode()" size="large" shape="round">
                    SCANEAR QR
                </ion-button>
            </div>
        </div>
    </div> -->
</ion-content>